<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
	<targets>
		<!-- Define a file target -->
		<target name="file" type="File"
				fileName="logs/logfile.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
				archiveEvery="Day"
				maxArchiveFiles="7"
				keepFileOpen="true"
				concurrentWrites="true"/>
	</targets>
	<rules>
		<!-- Log everything to the file target -->
		<logger name="*" minlevel="Error" writeTo="file" />
	</rules>
</nlog>
